body{
	margin:0;
	padding: 0;
}
/*===header start===*/
header{
	background-color: #121B2A;
}
.wrapper{
	width: 80%;
	margin:0 auto;
	overflow:hidden;
	padding: 10px 0;
}

.logo{
	width:17%;
	float: left;
}
.logo img{
	width:100%;
}
.menu{
	width:70%;
	float: right;
	margin-top:30px;
}
.menu ul{
	float: right;
	margin-top:20px;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-weight: 400;
	font-size:16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding:0 20px;
	transition:0.3s;
}
.menu ul li a:hover{
	color:#0078bd;
}
.menu ul li:last-child a{
	padding-right:0;
}
/*===header end===*/
.banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.b_content{
	width: 50%;
	margin:220px 0 80px;
}
.b_content h1{
	font-family:sans-serif;
	font-weight:400;
	font-size:36px;
	color: #fff;
	text-transform: capitalize;
	margin: 0;
}
.b_content h2{
	font-family:sans-serif;
	font-weight:700;
	font-size:43px;
	color: #0066a0;
	text-transform: capitalize;
	margin:0;
}
.b_content p{
	font-family:sans-serif;
	font-size: 18px;
	color: #f0eeef;
	line-height: 30px;
	margin:0;
}
.b_content button{
	font-weight: 400;
	font-size: 17px;
	color: #7b7b7b;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 35%;
	background-color: #f5f5f5;
	border:0;
	border-radius: 4px;
	padding: 9px 0 9px 15px;
	margin-top:25px;
	transition: 0.3s;
}
.b_content button:hover{
	color: #0177bd;
	cursor: pointer;
}
.b_content button span{
	font-size: 10px;
	display: inline-block;
	width: 15px;
	padding: 4px;
	color: #fff;
	border:0;
	border-radius: 50%;
	background-color: #0278c0;
	margin-left: 1px;
}
/* Service start*/
.service{
	background-color: #121b2c;
}
.single{
    width: 28.25%;
    border-right: 1px solid #1a2430;
    margin: 50px 0 25px;
    padding: 0 3.5%; 
    float: left;
}
.single:first-child{
	padding-left:0;
}
.single:last-child{
	border-right: 0;
	padding-right:0;
}
.top{
	overflow: hidden;
}
.t_img{
	width: 25%;
	float: left;
}
.t_img img{
	width: 100%;
}
.t_text{
	margin-top: 25px;
	width: 70%;
	float: left;
	padding: 0 1% 0;
}
.t_text h2{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	text-transform: capitalize;
	margin: 0;
}
.t_text h3{
	font-family: sans-serif;
	font-size: 25px;
	color: #0078bd;
	text-transform: capitalize;
	margin:5px 0 0;
}
.single:last-child .t_text h3{
	margin-top:28px;
}
.bottom{
	margin-top: 10px;
}
.bottom p{
	font-family: sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
	margin: 0;
}
/* Service end*/
/*contact section start*/
.contact{
	background-color: #040811;
	padding: 40px 0 50px;
}
.wrapper_2{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
/* part one*/
.part{
}
.one{
	width: 27%;
	float: left;
	padding-right: 4%;
}
.part h2{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #fff;
	text-transform: capitalize;
}
.part h2 span{
	color: #013b60;
}
.one p{
	font-family: sans-serif;
	font-size:14px ;
	color: #b6b6b8;
	text-transform: capitalize;
}
.one p:nth-child(2){
	margin-bottom: 20px;
}
.one p:nth-child(3), .one p:nth-child(4){
	margin: 0;
	line-height: 20px;
}
.one p span{
	width: 25%;
	display: inline-block;
}
/* part two*/
.two{
	width: 29%;
	float: left;
	padding: 0 3%;
}
.two .upper_part{
	background-color: #262a33;
	margin: 0-10%;
	padding: 1% 10% 3%;
	border: 0;
	border-radius: 6px;
	position: relative;
}
.two .upper_part:before{
	content: "";
	position: absolute;
	top: 100%;
	right:10%;
	width: 0;
	height: 0;
	border-top: 20px solid #262a33;
	border-right: 70px solid transparent;
}
.two .upper_part h2{
}
.two p{
	font-family: sans-serif;
	font-size:14px ;
	color: #b6b6b8;
}
.two .lower_part{
	margin-top: 20px;
}
.two .lower_part h3{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #b4b5b7;
	text-transform: capitalize;
	margin: 0;
}
.two .lower_part p{
	margin: 0;
}
/* part three*/
.three{
	width: 30%;
	overflow: hidden;
	float: left;
	padding: 25px 0 0 4%;
}
.three .mobile{
	width: 33%;
	float: left;
	padding-right:9%; 
}
.three .mobile img{
	width: 100%;
}
.three .apps{
	width: 58%;
	float: left;
}
.three .apps h2{
	margin: 0;
}
.three .apps h3{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 28px;
	color: #013b60;
	text-transform: capitalize;
	margin: 0 0 10px;
}
.three .app_source{
	overflow: hidden;
	background-color: #fff;
	padding: 3%;
	border:0;
	border-radius: 6px;
}
.three .app_source .mbl_logo{
	width: 14%;
	float: left;
	padding:0 3%;
}
.three .app_source .mbl_logo img{
	width: 100%;
}
.three .app_source .app_store{
	width: 80%;
	float: left;
}
.three .app_source .app_store p{
	font-family: sans-serif;
	font-size: 10px;
	color: #080c15;
	margin: 0;
}
.three .app_source .app_store h2{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #040813;
	text-transform: capitalize;
	margin: 0;
}
/*contact section end*/
/*footer start*/
footer{
	background-color: #121b2c;
	padding: 20px 0 30px;
}
.menu_copy{
	width: 60%;
	float: left;
}
.f_nav{
	width: 100%;
}
.f_nav ul{
	overflow: hidden;
	padding: 0;
}
.f_nav ul li{
	list-style: none;
	float: left;
}
.f_nav ul li a{
	font-family: sans-serif;
	font-weight: ;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	padding: 0px 17px;
	border-right: 1px solid #fff;
	margin: 0;
	transition: 0.3s;
}
.f_nav ul li:first-child a{
	padding-left: 0;
}
.f_nav ul li:last-child a{
	border-right: 0;
	padding-right: 0;
}
.f_nav ul li:hover a{
	color: #000;
}
.menu_copy p{
	font-family: sans-serif;
	font-weight: ;
	font-size: 14px;
	color: #fff;
}
.f_logo{
	width: 39%;
	float: left;
	overflow: hidden;
	margin-top: 10px;
}
.logo_text{
	width: 40%;
	float: left;
	padding: 0 5% 0 10%;
}
.logo_text h1{
	font-family: sans-serif;
	font-weight: 900;
	font-size: 28px;
	color: #414956;
	margin: 15px 0 0;
	transform: scale(1,2);
}
.f_logo_img{
	width: 40%;
	float: left;
	padding-left: 5%;
}
.f_logo_img img{
	width: 100%;
}
/*footer end*/
